{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% block header %}
    <h3>{{topic}}</h3>
{% endblock %}
{%block content%}

    <p>
     <a href="{% url 'new_entry' topic.id %}">add new entry</a>
    </p>

    {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{ entry.date_added|date:'M d,Y H:i' }}
                    <small>
                        <a href="{% url 'edit_entry' entry.id%}">Edit entry</a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                {{ entry.text|linebreaks }}
            </div>
        </div> <!--spanel-->

    {% empty %}

            There are no entries for this topic yet.

    {% endfor %}

{% endblock %}